#specialty {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.specialty-table {
    width: 1000px;
    margin: auto;
}

#specialty td,
#specialty th {
    border-bottom: 1px solid rgb(223, 223, 223);
    padding: 8px;
}

#specialty tr:nth-child(even) {
    background-color: none
}

#specialty tr:hover {
    color: linear-gradient(45deg, #6a78d1, #00a4bd);
}

#specialty th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: none;
    color: black;
    font-weight: 700;
}

.specialty-back-container {
    width: 100%;
    background-color: linear-gradient(45deg, #6a78d1, #00a4bd);
    padding: 0px 200px;

    .specialty-back-btn {
        background-color: #5295e6;
        border: none;
        color: white;
        font-weight: 700;
        padding: 3px 10px;
        border-radius: 5px 5px 0px 0px;

        i {
            margin-right: 5px;
        }

    }
}