.booking-form-heading {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
    background-color: #4a89e3;
    color: white;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #dbdbdb;
}

.booking-content {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #dbdbdb;
    padding: 0px 10px;
    width: 100%;

    .booking-form-content {
        padding: 10px 20px;

        .row {


            .form-label,
            .form-control {
                font-size: 16px;
                font-weight: 300;
            }
        }


    }
}