@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background: #3f86df;
    color: $common-text-color;
    height: 40px;
    position: relative;
    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }

    .header-admin{
        width: 200px;
        padding: 9px;
        margin-right: 10px ;

    }

    .header-language{
        border-radius: 50%;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin-left: 20px;
        cursor: pointer;
        display: block;
        text-align: right;

        .language-flag{
            width: 30px;
            height: 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: -6px;
            margin-right: 10px;
            opacity: 0.6;
        }

        .active{
            opacity: 1;
        }
    }
}

// .navigator-menu .menu-group .menu-group-name {
//     width: 180px;
//     display:inline-block;
// }