.detailed-doctor-container{
    background-color: #f0f2f5;

    padding: 10px 100px;
    .detailed-doctor-content{
        background-color: white;

        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        padding: 20px 50px;

        .detailed-doctor-infor{
           
            height: 200px;
            display: flex;
            gap: 20px;

            .detailed-doctor-img{
                width: 20%;
                height: 200px;
                background-size: contain !important;
                background: center center no-repeat;
            }

            .detailed-doctor-desc{
                width: 80%;
               

                .detaild-doctor-name{
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 20px;
                    color: #27519e;
                    margin-bottom: 10px;

                }

                .detaild-doctor-text{
                    width: 70%;
                }
                
            }
        }

        .booking-doctor{

        }

        .detailed-doctor-markdown{
            margin-top: 20px;
            border-top: 1px solid rgb(228, 228, 228);
            padding: 10px;
        }

        .detailed-doctor-comment{

        }
    }
}