.image-upload {
    text-align: center;

    .image-upload-input {
        background: rgb(228, 228, 228);
        padding: 5px 20px;
        border-radius: 3px;
        cursor: pointer;
    }

    .preview-image {
        height: 100px;
        width: 100%;
        background-size: contain !important;
        background: center center no-repeat;
        cursor: pointer;
    }
}

.img {
    transform: none !important;
}

.user-manage-container {
    padding: 10px 200px;
    background-color: #f0f2f5;
    height: 100%;

    input {
        font-size: 16px;
    }

    .user-manage-title {
        margin-bottom: 0px;
        margin-top: 10px;
        background: linear-gradient(45deg, #6a78d1, #00a4bd);
        color: white;
        padding: 10px;
        border-radius: 5px 5px 0px 0px;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center
    }

    .user-manage-content {
        padding: 20px 40px 20px 40px;
        background-color: white;
        border-radius: 0px 0px 5px 5px;
        margin-bottom: 0px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        label {
            font-weight: 600;
        }

        .submit {
            display: flex;

            .btn-info {
                height: 35px;
                margin-left: auto;
                margin-right: 0;
                text-align: center;
            }
        }

        .btn {
            margin-right: 10px;
        }



        .specialty-manage-title {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;

            .doctor-search {
                width: 30%;
            }

        }

        .edit {
            color: orange;
            cursor: pointer;
            padding: 5px;
            float: left;
        }

        .delete {
            color: red;
            cursor: pointer;
            padding: 5px;
            float: left;
        }
    }

}

.top-8 {
    margin-top: -10px;
}

.user-manage-modal {
    max-width: 800px !important;

    .modal-header .close {
        margin: -10px -10px !important;
        color: white !important;
    }

    .user-manage-modal-header {
        background-color: #4a89e3 !important;
        color: #ffffff !important;
        height: 50px !important;
        border: none !important;


        .modal-title {
            font-size: 18px !important;
            font-weight: 500 !important;
            text-align: center !important;
            height: 50px !important;
            width: 800px;
            margin: auto;
            padding-top: 10px;

            i {
                margin-right: 10px;
            }
        }


    }
}