@media (max-width: 700px) {

    .patient-login-container {
        width: 300px;
    }

}

.patient-login-background {
    height: 100vh;
    background: linear-gradient(135deg, rgb(229, 245, 255) 0%, rgb(11, 117, 255) 100%);

    .patient-login-container {
        width: 400px !important;
        margin: auto;
        align-items: center;
        background-color: white;
        height: 400px;
        border-radius: 15px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .patient-login-content {
            padding: 15px;

            .text-patient-login {
                font-weight: 600;
                font-size: 20px;
                padding-top: 10px;
            }

            .patient-login-input {
                padding: 10px;

                .custom-input-password {
                    position: relative;

                    i.fas.fa-eye,
                    i.fas.fa-eye-slash {
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }

            .btn-patient-login {
                width: 100%;
                margin: 10px 0px;
                height: 40px;
                border-radius: 10px;
                outline: none;
                border: none;
                background-color: rgb(56, 175, 255);
                color: white;
                font-size: 16px;
                font-weight: 600;

            }

            .btn-patient-login:hover {
                background-color: rgb(110, 197, 255);
                ;
            }

            .patient-login-social {
                i {
                    font-size: 30px;
                    padding: 10px;
                }
            }
        }
    }
}