.specialty-homepage-container {
    padding: 10px 150px;
    background-color: white;
    height: 100%;

    .specialty-description {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        padding: 10px;
        padding-bottom: 10px;
        color: rgb(94, 94, 94);
    }

    .specialty-content {
        padding: 10px 40px;
        background-color: white;
        border-radius: 5px;
        border: 1px solid #e5e5e5;
        z-index: 1000;

        .title-section {
            text-transform: uppercase;
            font-weight: 800;
            font-size: 25px;
            text-align: center;
            color: #27519e;


        }



        .slider-child {
            position: relative;

            padding: 10px;
            cursor: pointer;

            .slider-icon {
                width: 70%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 120px;
                background: linear-gradient(180deg, #299ae2, #27519e);
                border-radius: 10px;
                align-items: center;
                margin: auto;
                padding: 35px;

                .icon-img {
                    align-items: center;
                    margin: auto;
                    z-index: 1000;
                    height: 50px;
                    width: 50px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            .slider-title {
                text-align: center;
                margin-top: 5px;
                color: #27519e;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
}

.slick-prev {
    left: 0 !important;
    margin-left: -20px;
}

.slick-next {
    right: 0 !important;
    margin-right: -20px;

}

.slick-prev:hover,
.slick-next:hover {
    color: #27519e;
}

.slick-prev::before,
.slick-next::before {
    color: #299ae2;
    font-size: 30px;
}

.slick-prev,
.slick-next {
    z-index: 1000;

    width: 40px;
    height: 40px;
}