.specialty-container{
    height: 260px;
    color: black;
    background-color: #f0f9fd;
    .specialty-content{
        padding: 10px 40px;
    .title-section{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
        color: #27519e;

    }
    .slider-child{
        position: relative;
        height: 200px;
        padding: 10px;
        cursor: pointer;
        
        .slider-icon{
            width: 70%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 130px;
            background: linear-gradient(180deg,#299ae2,#27519e);
            border-radius: 10px;
            align-items: center;
            margin: auto;
            padding: 35px;

            .icon-img{
                width: 90%;
                text-align: center;
                margin: auto;
            }
        }

        .slider-title{
            text-align: center;
            margin-top: 5px;
            color: #27519e;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 20px;
        }
    }
}
}

.slick-prev{
    left: 0 !important;
    margin-left: -20px;
}

.slick-next{
    right: 0 !important;
    margin-right: -20px;
    
}

.slick-prev:hover,
.slick-next:hover{
    color: #27519e;
}

.slick-prev::before,
.slick-next::before{
    color: #299ae2;
    font-size: 30px;
}

.slick-prev,
.slick-next{
    z-index: 1000;

    width: 40px;
    height: 40px;
}

// .slick-next{
//     z-index: 1000;
//     color: black;
//     border: 1px solid red;
//     right: 0 !important;
// }